<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zhaoliang5156.learnandroiddevelop">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.basic.corebasic.CoreBasicActivity" />
        <activity android:name=".ui.basic.advance.AdvanceActivity" />
        <activity android:name=".ui.basic.corebasic.quickstart.QuickstartActivity" />
        <activity android:name=".ui.basic.corebasic.quickstart.demos.helloworld.HelloWorldActivity" />
        <activity android:name=".ui.basic.corebasic.quickstart.demos.simpledownloadui.SimpleDownloadUIActivity" />
        <activity android:name=".ui.basic.corebasic.component.ComponentActivity" />
        <activity android:name=".ui.basic.corebasic.component.activity.Activity" />
        <activity android:name=".ui.basic.corebasic.component.activity.useactivity.UseActivity" />
        <activity android:name=".ui.basic.corebasic.component.activity.activitylifecycle.ActivityLifeCycleActivity" />
        <activity
            android:name=".ui.basic.corebasic.component.activity.activitylunchmode.ActivityLunchModeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.basic.corebasic.component.activity.phoneandsms.PhoneAndSmsActivity" />
        <activity android:name=".ui.basic.corebasic.component.service.ServiceActivity" />
        <activity android:name=".ui.basic.corebasic.component.broadcastreceiver.BroadcastReceiverActivity" />
        <activity android:name=".ui.basic.corebasic.component.contentprovider.ContentProviderActivity" />
        <activity android:name=".ui.basic.corebasic.component.activity.useactivity.SecondActivity" />
        <activity
            android:name=".ui.basic.corebasic.component.activity.activitylifecycle.SecondActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.basic.corebasic.component.activity.activitylunchmode.SecondActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.basic.corebasic.component.activity.activitylunchmode.ThirdActivity"></activity>
    </application>

</manifest>