<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.zhaoliang5156.learnandroiddevelop">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.basic.corebasic.CoreBasicActivity" />
        <activity android:name=".ui.basic.advance.AdvanceActivity" />
        <activity android:name=".ui.basic.corebasic.quickstart.QuickstartActivity" />
        <activity android:name=".ui.basic.corebasic.quickstart.demos.helloworld.HelloWorldActivity" />
        <activity android:name=".ui.basic.corebasic.quickstart.demos.simpledownloadui.SimpleDownloadUIActivity" />
        <activity android:name=".ui.basic.corebasic.component.ComponentActivity" />
        <activity android:name=".ui.basic.corebasic.component.activity.Activity" />
        <activity android:name=".ui.basic.corebasic.component.activity.useactivity.UseActivity" />
        <activity android:name=".ui.basic.corebasic.component.activity.activitylifecycle.ActivityLifeCycleActivity" />
        <activity
            android:name=".ui.basic.corebasic.component.activity.activitylunchmode.ActivityLunchModeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.basic.corebasic.component.activity.phoneandsms.PhoneAndSmsActivity" />
        <activity android:name=".ui.basic.corebasic.component.service.ServiceActivity" />
        <activity android:name=".ui.basic.corebasic.component.broadcastreceiver.BroadcastReceiverActivity" />
        <activity android:name=".ui.basic.corebasic.component.contentprovider.ContentProviderActivity" />
        <activity android:name=".ui.basic.corebasic.component.activity.useactivity.SecondActivity" />
        <activity
            android:name=".ui.basic.corebasic.component.activity.activitylifecycle.SecondActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.basic.corebasic.component.activity.activitylunchmode.SecondActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.basic.corebasic.component.activity.activitylunchmode.ThirdActivity" />
        <activity android:name=".ui.basic.corebasic.ui.UIActivity" />
        <activity android:name=".ui.basic.corebasic.ui.simplecomponent.SimpleComponenetActivity" />
        <activity android:name=".ui.basic.corebasic.ui.menu.MenuActivity" />
        <activity android:name=".ui.basic.corebasic.ui.progress.ProgressActivity" />
        <activity android:name=".ui.basic.corebasic.ui.dialog.DialogActivity" />
        <activity android:name=".ui.basic.corebasic.ui.layout.LayoutActivity" />
        <activity android:name=".ui.basic.corebasic.ui.listview.ListViewActivity" />
        <activity
            android:name=".ui.basic.corebasic.ui.styleandtheme.StyleAndThemeActivity"
            android:theme="@style/AppTheme.MyTheme"/>
        <activity android:name=".ui.basic.corebasic.ui.applist.AppListActivity" />
        <activity android:name=".ui.basic.corebasic.ui.gridview.GridViewActivity" />
        <activity android:name=".ui.basic.corebasic.storage.StorageOptionActivity" />
        <activity android:name=".ui.basic.corebasic.coremachine.CoreMachineActivity" />
        <activity android:name=".ui.basic.corebasic.media.MediaActivity" />
        <activity android:name=".ui.basic.corebasic.fragment.FragmentActivity" />
        <activity android:name=".ui.basic.corebasic.ui.layout.layout.LinearLayoutActivity" />
        <activity android:name=".ui.basic.corebasic.ui.layout.layout.RelativeLayoutActivity" />
        <activity android:name=".ui.basic.corebasic.ui.layout.layout.FrameLayoutActivity" />
        <activity android:name=".ui.basic.corebasic.ui.listview.listview.ArrayAdapterActivity" />
        <activity android:name=".ui.basic.corebasic.ui.listview.listview.SimpleAdapterActivity" />
        <activity android:name=".ui.basic.corebasic.ui.listview.listview.BaseAdapterActivity"></activity>
    </application>

</manifest>